<header>
	<div class="btn-toolbar">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Examples
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#/3E3tU3">Pilots</a>
			</li>
			<li>
				<a href="#/lPWulm">Universities</a>
			</li>
		</ul>
		<div class="btn-group">
			<button class="btn">New</button>
			<button class="btn">Publish</button>
		</div>
		<button class="btn btn-link">Login/Sign up</button>
	</div>
	<h1><img src="static/logo.png" alt="Rulemotion" />SBVR Lab 2.0</h1>
	<ul id="tabs" class="nav nav-tabs"></ul>
</header>
<div id="content" class="tab-content"></div>
