{
    "openapi": "3.0.2",
    "info": {
        "title": "Service for namespace resin",
        "description": "This service is located at [https://api.balena-cloud.com/v6/](https://api.balena-cloud.com/v6/)",
        "version": ""
    },
    "servers": [
        {
            "url": "https://api.balena-cloud.com/v6"
        }
    ],
    "tags": [
        {
            "name": "actor"
        },
        {
            "name": "api_key"
        },
        {
            "name": "application"
        },
        {
            "name": "application__can_use__application_as_host"
        },
        {
            "name": "application_config_variable"
        },
        {
            "name": "application_domain_mapping"
        },
        {
            "name": "application_environment_variable"
        },
        {
            "name": "application_membership_role"
        },
        {
            "name": "application_tag"
        },
        {
            "name": "application_type"
        },
        {
            "name": "build_environment_variable"
        },
        {
            "name": "delta"
        },
        {
            "name": "device"
        },
        {
            "name": "device_config_variable"
        },
        {
            "name": "device_domain_mapping"
        },
        {
            "name": "device_environment_variable"
        },
        {
            "name": "device_family"
        },
        {
            "name": "device_manufacturer"
        },
        {
            "name": "device_service_environment_variable"
        },
        {
            "name": "device_tag"
        },
        {
            "name": "device_type"
        },
        {
            "name": "feature"
        },
        {
            "name": "gateway_download"
        },
        {
            "name": "image"
        },
        {
            "name": "image__is_part_of__release"
        },
        {
            "name": "image_environment_variable"
        },
        {
            "name": "image_install"
        },
        {
            "name": "image_label"
        },
        {
            "name": "invitee"
        },
        {
            "name": "invitee__is_invited_to__application"
        },
        {
            "name": "invitee__is_invited_to__organization"
        },
        {
            "name": "oauth_application"
        },
        {
            "name": "oauth_application_authorization"
        },
        {
            "name": "organization"
        },
        {
            "name": "organization__has_private_access_to__device_type"
        },
        {
            "name": "organization_membership"
        },
        {
            "name": "organization_membership_role"
        },
        {
            "name": "organization_membership_tag"
        },
        {
            "name": "plan"
        },
        {
            "name": "plan__has__discount_code"
        },
        {
            "name": "plan_addon"
        },
        {
            "name": "plan_feature"
        },
        {
            "name": "public_organization"
        },
        {
            "name": "recovery_two_factor"
        },
        {
            "name": "release"
        },
        {
            "name": "release_tag"
        },
        {
            "name": "service"
        },
        {
            "name": "service_environment_variable"
        },
        {
            "name": "service_install"
        },
        {
            "name": "service_instance"
        },
        {
            "name": "service_label"
        },
        {
            "name": "subscription"
        },
        {
            "name": "subscription_prepaid_addon"
        },
        {
            "name": "support_feature"
        },
        {
            "name": "support_tier"
        },
        {
            "name": "team"
        },
        {
            "name": "team_application_access"
        },
        {
            "name": "team_membership"
        },
        {
            "name": "user"
        },
        {
            "name": "user__has__public_key"
        },
        {
            "name": "user__has_direct_access_to__application"
        },
        {
            "name": "user__is_member_of__application"
        }
    ],
    "paths": {
        "/actor": {
            "get": {
                "summary": "Get entities from actor",
                "tags": [
                    "actor"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "created_at desc",
                                    "modified_at",
                                    "modified_at desc",
                                    "id",
                                    "id desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of actor",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.actor"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/actor({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from actor by key",
                "tags": [
                    "actor"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.actor"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from actor",
                "tags": [
                    "actor"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/api_key": {
            "get": {
                "summary": "Get entities from api_key",
                "tags": [
                    "api_key"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "created_at desc",
                                    "modified_at",
                                    "modified_at desc",
                                    "id",
                                    "id desc",
                                    "key",
                                    "key desc",
                                    "name",
                                    "name desc",
                                    "description",
                                    "description desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "key",
                                    "name",
                                    "description"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "is_of__actor"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of api_key",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.api_key"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/api_key({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from api_key by key",
                "tags": [
                    "api_key"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "key",
                                    "name",
                                    "description"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "is_of__actor"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.api_key"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in api_key",
                "tags": [
                    "api_key"
                ],
                "requestBody": {
                    "description": "New property values",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/resin.api_key-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from api_key",
                "tags": [
                    "api_key"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/api_key({id})/is_of__actor": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related is_of__actor",
                "tags": [
                    "api_key"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.actor"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application": {
            "get": {
                "summary": "Get entities from application",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "created_at desc",
                                    "modified_at",
                                    "modified_at desc",
                                    "id",
                                    "id desc",
                                    "actor",
                                    "actor desc",
                                    "should_track_latest_release",
                                    "should_track_latest_release desc",
                                    "is_of__class",
                                    "is_of__class desc",
                                    "app_name",
                                    "app_name desc",
                                    "slug",
                                    "slug desc",
                                    "is_host",
                                    "is_host desc",
                                    "is_archived",
                                    "is_archived desc",
                                    "uuid",
                                    "uuid desc",
                                    "is_public",
                                    "is_public desc",
                                    "is_accessible_by_support_until__date",
                                    "is_accessible_by_support_until__date desc",
                                    "is_discoverable",
                                    "is_discoverable desc",
                                    "is_stored_at__repository_url",
                                    "is_stored_at__repository_url desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of application",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.application"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from application by key",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/organization": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related organization",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "name",
                                    "handle",
                                    "is_active",
                                    "company_name",
                                    "internal_company_name",
                                    "internal_note",
                                    "billing_account_code",
                                    "has_past_due_invoice_since__date",
                                    "tradegecko_company_id",
                                    "industry",
                                    "website"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.organization"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/is_for__device_type": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related is_for__device_type",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "slug",
                                    "name",
                                    "logo",
                                    "contract",
                                    "is_private"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "is_of__cpu_architecture",
                                    "belongs_to__device_family"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.device_type"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/should_be_running__release": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related should_be_running__release",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "commit",
                                    "composition",
                                    "status",
                                    "source",
                                    "build_log",
                                    "is_invalidated",
                                    "start_timestamp",
                                    "end_timestamp",
                                    "update_timestamp",
                                    "release_version",
                                    "contract",
                                    "is_passing_tests",
                                    "is_finalized_at__date",
                                    "semver_major",
                                    "semver_minor",
                                    "semver_patch",
                                    "revision",
                                    "known_issue_list",
                                    "note",
                                    "invalidation_reason",
                                    "statistics_set",
                                    "is_final",
                                    "semver",
                                    "raw_version",
                                    "version"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "belongs_to__application",
                                    "is_created_by__user"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.release"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/depends_on__application": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related depends_on__application",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/application_type": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related application_type",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "name",
                                    "supports_web_url",
                                    "supports_multicontainer",
                                    "supports_gateway_mode",
                                    "needs__os_version_range",
                                    "requires_payment",
                                    "is_legacy",
                                    "slug",
                                    "description",
                                    "maximum_device_count"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application_type"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application({id})/public_organization": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related public_organization",
                "tags": [
                    "application"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "name",
                                    "handle"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.public_organization"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application__can_use__application_as_host": {
            "get": {
                "summary": "Get entities from application__can_use__application_as_host",
                "tags": [
                    "application__can_use__application_as_host"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application",
                                    "can_use__application_as_host"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of application__can_use__application_as_host",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.application__can_use__application_as_host"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application__can_use__application_as_host({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from application__can_use__application_as_host by key",
                "tags": [
                    "application__can_use__application_as_host"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application",
                                    "can_use__application_as_host"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application__can_use__application_as_host"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application__can_use__application_as_host({id})/application": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related application",
                "tags": [
                    "application__can_use__application_as_host"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application__can_use__application_as_host({id})/can_use__application_as_host": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related can_use__application_as_host",
                "tags": [
                    "application__can_use__application_as_host"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_config_variable": {
            "get": {
                "summary": "Get entities from application_config_variable",
                "tags": [
                    "application_config_variable"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "created_at desc",
                                    "modified_at",
                                    "modified_at desc",
                                    "name",
                                    "name desc",
                                    "id",
                                    "id desc",
                                    "value",
                                    "value desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "name",
                                    "id",
                                    "value"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of application_config_variable",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.application_config_variable"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_config_variable({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from application_config_variable by key",
                "tags": [
                    "application_config_variable"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "name",
                                    "id",
                                    "value"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application_config_variable"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_config_variable({id})/application": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related application",
                "tags": [
                    "application_config_variable"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_domain_mapping": {
            "get": {
                "summary": "Get entities from application_domain_mapping",
                "tags": [
                    "application_domain_mapping"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "created_at desc",
                                    "modified_at",
                                    "modified_at desc",
                                    "domain",
                                    "domain desc",
                                    "id",
                                    "id desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "domain",
                                    "id"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of application_domain_mapping",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/resin.application_domain_mapping"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "post": {
                "summary": "Add new entity to application_domain_mapping",
                "tags": [
                    "application_domain_mapping"
                ],
                "requestBody": {
                    "description": "New entity",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/resin.application_domain_mapping-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application_domain_mapping"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_domain_mapping({id})": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get entity from application_domain_mapping by key",
                "tags": [
                    "application_domain_mapping"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "domain",
                                    "id"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "application"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application_domain_mapping"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "patch": {
                "summary": "Update entity in application_domain_mapping",
                "tags": [
                    "application_domain_mapping"
                ],
                "requestBody": {
                    "description": "New property values",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/resin.application_domain_mapping-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "summary": "Delete entity from application_domain_mapping",
                "tags": [
                    "application_domain_mapping"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/application_domain_mapping({id})/application": {
            "parameters": [
                {
                    "description": "key: id",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "format": "int64",
                        "example": "42"
                    }
                }
            ],
            "get": {
                "summary": "Get related application",
                "tags": [
                    "application_domain_mapping"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "created_at",
                                    "modified_at",
                                    "id",
                                    "actor",
                                    "should_track_latest_release",
                                    "is_of__class",
                                    "app_name",
                                    "slug",
                                    "is_host",
                                    "is_archived",
                                    "uuid",
                                    "is_public",
                                    "is_accessible_by_support_until__date",
                                    "is_discoverable",
                                    "is_stored_at__repository_url"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "organization",
                                    "is_for__device_type",
                                    "should_be_running__release",
                                    "depends_on__application",
                                    "application_type",
                                    "public_organization"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/resin.application"
                                }
                            }
                        }
[...]
