.CodeMirror {
	font-family:monospace; /* It is required to use a monospace font for CodeMirror to work nicely. */
	font-size: 1.5em;
	line-height: inherit;
	background: white;
	border: 1px solid #ADABB3;
}

span.cm-sbvr-startTerm {
	color: #A22;
/* 	background-color: #FCC; */
}
span.cm-sbvr-startFactType {
	color: #A70;
/* 	background-color: #EEA; */
}
span.cm-sbvr-startRule {
	color: #299;
/* 	background-color: #BFF; */
}

/* Noun */
span.cm-sbvr-Term {
	color: #108070;
	text-decoration: underline;
}

span.cm-sbvr-Verb {
	color: blue;
	font-style: italic;
}
span.cm-sbvr-Modifier {
	color: orange;
}
span.cm-sbvr-keyword {
	color: orange;
}
span.cm-sbvr-Number {
	color: purple;
}

span.cm-sbvr-allowedAttrs {
	color: grey;
}

span.cm-sbvr-newComment {
	color: grey;
}

span.cm-sbvr-Value {
	color: #108070;
	text-decoration: underline;
	border-bottom: 1px solid #108070;
}