body {
	min-width: 660px;
}

#header {
	background: #e7e9eb url("header_bg.jpg") left top no-repeat;
}

.nav-tabs > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:hover {
    background-color: inherit;
}

.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-tabs {
	margin: 0;
	padding-left: 17px;
}

.tab-content > div {
    visibility: hidden;
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.tab-content > div.active {
	visibility: visible;
}

form {
	margin: 0;
}

div.CodeMirror {
	border: 0;
}

.btn-group {
	float: right;
	margin: 25px 10px 0;
}

h1 img {
	width: 220px;
	margin-bottom: -3px;
}

h1 {
	font-size: 25px;
	vertical-align: bottom;
	margin: 0;
	padding: 10px;
}
