!!! 5
head
    meta(charset='utf-8')
    title rulemotion canvas
    script(src='external/require-1.0.4.min.js')
    script(src='common/config/requirejs.js')
    script
      requirejs(['frame-glue/main']);
    link(rel='stylesheet', href='client/frame-glue/src/style.css')
  body
    #dialog-message(title='Unable to complete request', style='display: none;')
    #dialog-simple-error(title='Unable to complete request', style='display: none;')
    #dialog-url-message(title='URL', style='display: none;')
    #tabs(style='display: none;')
      ul
        li
          a(href='#modelTab') Model Editor			
        li
          a(href='#lfTab') Logical Formulation	
        li
          a(href='#prepTab') Preprocessed LF		
        li
          a(href='#sqlTab') SQL					
        li
          a(href='#dataTab') Data Browser			
        li
          a(href='#httpTab') HTTP Log				
        li
          a(href='#importExportTab') Import/Export Database	
      #modelTab
        form#editform
          textarea#modelArea(rows='15', cols='136')
          div(align='right')
            input#write_file(type='button', value='Save File')
            input#read_file.hidden-input(type='file', onchange='readFile(this.files);return false')
            input#load_file(type='button', value='Load File', onclick='toReadFile();return false')
            input#save_model(type='button', value='Publish', onclick='saveModel();return false')
            input#blm1(type='button', value='Load Example 1', onclick='loadmod(model1);return false')
            input#blm2(type='button', value='Load Example 2', onclick='loadmod(model2);return false')
            input#blm3(type='button', value='Load Example 3', onclick='loadmod(model3);return false')
            input#bpm(type='button', value='Parse Model', onclick='parseModel();return false')
            input#clear_editor(type='button', value='Clear Editor', onclick='sbvrEditor.setValue(\'\');return false')
            #downloadify
            #TheFileLoader
            input#bem(type='button', value='Execute Model', onclick='transformClient(sbvrEditor.getValue());return false')
            input#bum(type='button', value='Update Model', onclick='return false')
            input#br(type='button', value='Reset', onclick='resetClient();return false')
            input#bbdb(type='button', value='Backup DB', onclick='serverRequest(\'POST\', \'/backupdb/\');return false')
            input#brdb(type='button', value='Restore DB', onclick='serverRequest(\'POST\', \'/restoredb/\');return false')
            input#bcdb(type='button', value='Clear DB', onclick='serverRequest(\'DELETE\', \'/cleardb/\');return false')
      #lfTab
        textarea#lfArea(rows='15', cols='136')
      #prepTab
        textarea#prepArea(rows='15', cols='136')
      #sqlTab
        textarea#sqlArea(rows='15', cols='136')
      #dataTab
      #httpTab
        table#httpTable.textTable
          tr
            td
              strong method
            td
              strong uri
            td
              strong headers
            td
              strong body
      #importExportTab
        textarea#importExportArea(rows='15', cols='136')
        script(type='text/javascript')
          if(!!window.FileReader)
          {
          document.write('<input type="button" id="bldb" value="Load File">');
          function handleFiles(files) {
          var reader = new FileReader();
          reader.onloadend = function(e) {
          importExportEditor.setValue(e.target.result);
          }
          reader.readAsText(files[0]);
          }
          document.write('<input type="button" id="bsdb" value="Save File" onClick="downloadFile(\'sbvr.txt\',importExportEditor.getValue())">');
          }
        output
        input#bidb(type='button', value='Import DB', onclick='serverRequest(\'PUT\', \'/importdb/\', {}, importExportEditor.getValue());return false')
        input#bedb(type='button', value='Export DB', onclick='serverRequest(\'GET\', \'/exportdb/\', {}, \'\', function(statusCode, result){importExportEditor.setValue(result)});return false')
