.CodeMirror {
	font-family:monospace; /* It is required to use a monospace font for CodeMirror to work nicely. */
	font-size: 120%;
	background: white;
	border: 1px solid #ADABB3;
}

span.cm-sbvr-termDecl{color: #A22;}
span.cm-sbvr-fcTpDecl{color: #A70;}
span.cm-sbvr-ruleDecl{color: #299;}

/* Noun */
span.cm-sbvr-term {
	color: #108070;
	text-decoration: underline;
}

span.cm-sbvr-verb {
	color: blue;
	font-style: italic;
}
span.cm-sbvr-modRule {
	color: orange;
}
span.cm-sbvr-keyword {
	color: orange;
}
span.cm-sbvr-num {
	color: purple;
}

span.cm-sbvr-allowedAttrs {
	color: grey;
}